arrow {
  display: inline-block;
  margin: 5px;
}

@media (max-width: 954px) {
  arrow {
    margin: 0 0 0 10px;
  }

  arrow:first-child, arrow:last-child {
    margin-left: 34px;
  }

  arrow .glyphicon-arrow-left:before {
    content: "\e093";
  }

  arrow .glyphicon-arrow-right:before {
    content: "\e094";
  }
}
