body {
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

stage {
  display: block;
  width: 1050px;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 954px) {
  body {
    padding: 10px;
  }

  stage {
    width: 110px;
  }
}

