<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <title>
      Five Counters
    </title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script>
      state = {{ state | safe }};
      language = "{{ language | safe }}";
    </script>
    <script src="/main.js"></script>
  </head>
  <body>
  </body>
</html>
