counter {
  margin: 5px;
  display: inline-block;
}
@media (max-width: 954px) {
  counter{
    margin-bottom: 5px !important;
  }
}

counter value {
  display: block;
  text-align: center;
  overflow: scroll;
  width: 60px;
}

