<counter class="panel panel-default" id="{{ counterId }}">
  <div class="panel-body">
    <value class="well">
      {{ value }}
    </value>
    <button class="btn btn-default" type="submit">
      {{ resetButtonLabel }}
    </button>
  </div>
</counter>
